[submodule "iresearch"]
	path = 3rdParty/iresearch
	url = git@github.com:arangodb/iresearch.git
[submodule "velocypack"]
	path = 3rdParty/velocypack
	url = git@github.com:arangodb/velocypack.git
[submodule "3rdParty/fmt"]
	path = 3rdParty/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "3rdParty/rocksdb"]
	path = 3rdParty/rocksdb
	url = git@github.com:arangodb/rocksdb.git
[submodule "3rdParty/gtest"]
	path = 3rdParty/gtest
	url = git@github.com:arangodb/googletest.git
[submodule "3rdParty/abseil-cpp"]
	path = 3rdParty/abseil-cpp
	url = git@github.com:arangodb/abseil-cpp.git
[submodule "3rdParty/immer"]
	path = 3rdParty/immer
	url = git@github.com:arangodb/immer.git
	branch = release-v0.8
[submodule "3rdParty/rta-makedata"]
	path = 3rdParty/rta-makedata
	url = git@github.com:arangodb/rta-makedata.git
[submodule "scripts/toolbox/feed"]
	path = scripts/toolbox/feed
	url = git@github.com:arangodb/feed.git
[submodule "3rdParty/v8-build"]
	path = 3rdParty/v8-build/v8
	url = git@github.com:arangodb/v8.git
